.Profile{
    display: none;
}
.Details{
    margin:auto;
    margin-top: 40px;
    width:70%;
}

#HomeLink{
    color:azure;
    
}
#HomeLink:hover{
    text-decoration: underline;
    font-weight: bold;
}
#basic-nav-dropdown{
    color:azure;
}
#basic-nav-dropdown:hover{
    
    font-weight: bold;
}
#carousel1{
    opacity:0.5;
    
}
#carouselPara{
    color:whitesmoke;
    font-size: large;
    
}
#carouselHead{
    font-size: xx-large;
    background-color: black;
    width:30%;
    margin:auto;
    opacity:0.65;
    border-radius: 10px;
}
#Features{
    margin:auto;
    width:90%;
    background-color: white;
    border-radius: 5px;
    padding:30px;
}
#featureHeader{
    color:black;
    font-weight: bolder;
}
#featureHeader span{
    color:#e3a026;
    font-weight: bolder;
    
}
#FeaturesRow{
    margin:auto;
    width:90%;
    margin-top: 30px;
}
#FeaturesRowCol{
    margin: 20px;
    margin-left: 0px;
    background-color: black;
    opacity:0.35;
    border-radius: 8px;
    padding:10px;
}
#FeaturesRowCol h5{
    color:#e3a026;
    font-size: large;
    font-weight: bold;
}
#FeaturesRowCol p{
    color:whitesmoke;
    font-size: medium;
}
#WhyPB{
    margin:auto;
    width:90%;
    padding:30px;
}
#WhyPB p{
    margin-top: 10px;
    color:whitesmoke;
    font-size: large;
    font-style: italic;
}
#footer{
    margin:auto;
    width:90%;
    border: 2px solid white;
    border-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
#footer h4{
    color: white;
}
#footer hr{
    border-top: 1px solid white;
}
#footer footer p{
    color:white;
} 

.login{
    display: none;
}
.deleteProfilePage{
    display: none;
}
.Generation{
    display:none;
}
.ListOfFaculties{
    width:60%;
    margin:auto;
    margin-top: 30px;
    
}
#ListOfFacultiesPara{
    color:black;
    font-weight: bold;
    font-size: medium;
}
#ListOfFacultiesParaLink{
    font-weight: bold;
    font-size: medium;
    color:red;
}
#ListOfFacultiesParaLink:hover{
    font-weight: bolder;
    font-size: large;
    text-decoration: underline;

}

#ListOfFacultiesPara span{
    color:black;
    font-weight: bolder;
    font-size:medium;
    text-decoration:none;
}

#ListOfFacultiesRow{
    padding:20px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
#ListOfFacultiesPara span a{
    color:blue;
}
.FacultyDetails h2{
width:40%;
background-color: white;
border-radius: 5px;
}
.IndividualFacultyProfile{
    display: none;
}
#subjects{
    width:90%;
    margin: auto;
    
}
#subjectRow{
    text-decoration: underline;
}
.articles,.journal{
    display: none;
    width:80%;
    margin:auto;
    
}
#articles_buttons{
    width:60%;
    margin:auto;
    margin-bottom: 20px;
}
#articleRow{
    width:90%;
    margin:auto;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}
#IndividualFacultyProfileButton{
    margin: auto;
    width:90%;
    margin-bottom: 10px;
}
.displayFavorites{
    display:none;
}

/* POP up on Favorites */
#popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  #popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  #popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;

  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
  }
  
  @keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
  }
  
  #autocompleteTextField label{
      color:azure;
  }
  #GoogleSDetails{
      display:none;
  }
  #GoogleSDetailsArticles{
      background-color: white;
      display: none;
  }
  #labelProfilepage{
      color:black;
      font-style: italic;
      font-weight: bold;
  }
  #articlerowclosebutton{
      width:100%
  }
  #articleRow hr{
      border:2px solid black
  }
  .feedbackForm{
      position: fixed;
      bottom: 10px;
      right: 5px;
      padding:10px;
      /* border:3px solid white;
      border-radius: 10px; */
      z-index:1;
  }
  .formoffeedback{
      background-color: white;
      padding: 10px;
      border-radius: 10px;
  }
  .ShowNetwork{
      display:none;
      
  }
  .Network_Details{
      margin: auto;
    width:60%;
  }
    #Accepted_requests_there,#Accepted_requests,#Accepted_requests_there_faculty{
        display:none;
    margin: auto;
    width: 70%;
    margin-bottom: 30px;
    height:30%;
    
  }
  #Denied_requests_there,#Denied_requests{
    display:none;
    margin: auto;
    width: 70%;
    margin-bottom: 30px;
    height:30%;
    
  }
  #Waiting_requests_there,#Waiting_requests,#Waiting_requests_there_faculty{
    display:none;
    margin: auto;
    width: 70%;
    margin-bottom: 30px;
    height:30%;
    
  }

  .Network_Details h2{
    margin-bottom: 20px;
      padding: 10px;
      color:white;
      background-color: #0FF1CE;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
  #networkA:hover{
    font-size: xx-large;
    color:'white';
  }
  #addStudentAccomplishments{
      display:none;
      width:80%;
      margin:auto;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: white;
      border-radius: 20px;
  }
  #getcertificateofstudentinprofile{
      width:50%;
      margin:auto;
      padding:20px;
      margin-top: 20px;
  }
  #showstudentAcheivements{
    width:100%;
    margin:auto;
    padding:20px;
    margin-top: 20px;
  }
  